a:link {
	color: darkorchid;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: darkcyan;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: cyan;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: lightcyan;
	background-color: transparent;
	text-decoration: underline;
}

p {
	color: teal;
	background-color: transparent;
	font-size: 25px;	
}

.memes {
	font-size: 25px;
}

